@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=cyrillic,cyrillic-ext");
#section00 .main-wrapper {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(circle, #ffffff, #ffffff, #ffffff, #fbebee); }
  #section00 .main-wrapper .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    top: -2.5rem; }
    #section00 .main-wrapper .wrapper .card-carousel {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative; }
    #section00 .main-wrapper .wrapper .card-carousel div:nth-child(1) {
      background: url("../img/1.jpg") no-repeat;
      background-size: cover; }
    #section00 .main-wrapper .wrapper .card-carousel div:nth-child(2) {
      background: url("../img/2.jpg") no-repeat;
      background-size: cover; }
    #section00 .main-wrapper .wrapper .card-carousel div:nth-child(3) {
      background: url("../img/3.jpg") no-repeat;
      background-size: cover; }
    #section00 .main-wrapper .wrapper .card-carousel div:nth-child(4) {
      background: url("../img/4.jpg") no-repeat;
      background-size: cover; }
    #section00 .main-wrapper .wrapper .card-carousel div:nth-child(5) {
      background: url("../img/3.jpg") no-repeat;
      background-size: cover; }
    #section00 .main-wrapper .wrapper .card-carousel div:nth-child(6) {
      background: url("../img/1.jpg") no-repeat;
      background-size: cover; }
    #section00 .main-wrapper .wrapper .card-carousel div:nth-child(7) {
      background: url("../img/2.jpg") no-repeat;
      background-size: cover; }
    #section00 .main-wrapper .wrapper .card-carousel div:nth-child(8) {
      background: url("../img/3.jpg") no-repeat;
      background-size: cover; }
    #section00 .main-wrapper .wrapper .card-carousel div:nth-child(9) {
      background: url("../img/4.jpg") no-repeat;
      background-size: cover; }

.card-carousel .my-card {
  height: 30rem;
  width: 35rem;
  position: relative;
  z-index: 1;
  transform: scale(0.6) translateY(-2rem);
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  transition: 1s;
  border: 10px solid #3a1f1c;
  border-radius: 3px;
  box-shadow: inset 0 0 200px 0 #250b0e; }

.card-carousel .my-card:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: -5rem;
  -webkit-filter: blur(4px);
  filter: blur(4px); }

.card-carousel .my-card:nth-child(0):before,
.card-carousel .my-card:nth-child(1):before,
.card-carousel .my-card:nth-child(2):before,
.card-carousel .my-card:nth-child(3):before,
.card-carousel .my-card:nth-child(4):before,
.card-carousel .my-card:nth-child(5):before,
.card-carousel .my-card:nth-child(6):before,
.card-carousel .my-card:nth-child(7):before,
.card-carousel .my-card:nth-child(8):before,
.card-carousel .my-card:nth-child(9):before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.card-carousel .my-card.active {
  z-index: 3;
  transform: scale(1) translateY(0) translateX(0);
  opacity: 1;
  pointer-events: auto;
  transition: 1s; }

.card-carousel .my-card.prev, .card-carousel .my-card.next {
  z-index: 2;
  transform: scale(0.8) translateY(-1rem) translateX(0);
  opacity: 0.6;
  pointer-events: auto;
  transition: 1s; }

@media screen and (max-width: 855px) {
  .card-carousel .my-card {
    height: 20rem;
    width: 20rem; } }

@media screen and (max-width: 490px) {
  .card-carousel .my-card {
    height: 9rem;
    width: 9rem; }
  .card-carousel .my-card:hover {
    transform: scale(1.2); } }

#section01 {
  padding: 50px 0 100px 0;
  background: url("../img/bg-chocolate-dark.jpg") no-repeat;
  background-size: cover;
  align-items: center;
  flex-direction: row; }
  #section01 .section01-wrapper {
    margin: 15px; }
    #section01 .section01-wrapper .container {
      display: flex;
      margin: 3px; }
      #section01 .section01-wrapper .container p {
        width: 270px;
        min-height: 200px;
        padding: 20px 10px;
        margin: 5px;
        text-align: center;
        background: rgba(179, 157, 132, 0.6);
        box-shadow: 0 0 0 4px #19010a;
        border: 7px solid #291614;
        border-radius: 5px;
        font-weight: 700;
        word-spacing: 0.2em;
        letter-spacing: 0.02em;
        line-height: 1.3em; }
      #section01 .section01-wrapper .container p:hover {
        background: rgba(179, 157, 132, 0.8);
        transition: 0.5s; }

@media screen and (max-width: 830px) {
  #section01 .section01-wrapper > div {
    flex-direction: column;
    align-items: center; }
  #section01 .section01-wrapper .container p {
    width: 60%;
    min-height: 100px;
    padding: 10px 10px;
    font-size: 0.9em; } }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif; }

::-webkit-scrollbar {
  display: none; }

/*** Header ***/
header {
  width: 100vw;
  height: 100vh;
  background: url("../img/bg-chocolate.jpg") no-repeat;
  background-size: cover;
  display: flex; }
  header nav {
    width: 100vw;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    z-index: 10;
    transition: all 0.3s; }
    header nav .navShadow {
      height: 100px; }
      header nav .navShadow #word-mark {
        opacity: 1; }
    header nav a {
      text-decoration: none;
      text-align: center; }
    header nav #brand {
      padding-left: 40px; }
      header nav #brand #logo {
        width: 200px;
        height: 130px;
        background: url("../img/logo.png") no-repeat center;
        background-size: 100% 100%;
        cursor: pointer; }
    header nav #menu {
      justify-content: flex-end;
      padding-right: 40px; }
      header nav #menu #menu-toggle {
        width: 55px;
        height: 55px;
        background: #452612;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer; }

#menu-icon .bar {
  width: 25px;
  height: 2px;
  background: #ffe8ba;
  transition: 0.3s ease-in-out; }

#menu-icon .bar:nth-child(2) {
  width: 20px;
  margin: 5px 0; }

#menu-icon .bar:last-child {
  width: 15px; }

#brand,
#menu,
ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

li {
  margin-left: 20px; }
  li a {
    padding: 10px 15px;
    background: #391215;
    box-shadow: 0 0 10px 0 #ffe8bb;
    display: block;
    border-radius: 10px;
    color: #ffe8bb; }

#menu-toggle:hover .bar {
  width: 25px; }

#menu-toggle.closeMenu .bar {
  width: 25px; }

#menu-toggle.closeMenu .bar:first-child {
  transform: translateY(7px) rotate(45deg); }

#menu-toggle.closeMenu .bar:nth-child(2) {
  transform: scale(0); }

#menu-toggle.closeMenu .bar:last-child {
  transform: translateY(-7px) rotate(-45deg); }

/*** Hero Section Styles ***/
/*** Section Styles ***/
section {
  width: 100vw;
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center; }

#section03 {
  background: url("../img/bg-chocolate-dark.jpg") no-repeat;
  background-size: cover; }

@media screen and (max-width: 767px) {
  #menu-toggle {
    display: flex; }
  ul {
    display: inline-block;
    width: 100vw;
    height: 0;
    background: #c8b693;
    position: absolute;
    top: 160px;
    -webkit-box-shadow: 0 5px 30px -4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 30px -4px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  ul.showMenu {
    height: 130px; }
    ul.showMenu li {
      height: 50px;
      font-size: 0.8em;
      opacity: 1;
      visibility: visible; }
  li {
    width: 45%;
    height: 40px;
    float: left;
    padding-left: 20px;
    opacity: 0;
    visibility: hidden;
    margin-left: 0;
    transition: all 0.3s 0.1s; }
  li:first-child, li:nth-child(2) {
    margin-top: 20px; } }

@media screen and (max-width: 350px) {
  header nav #brand {
    padding-left: 10px; }
    header nav #brand #logo {
      width: 170px; } }
